.container{
    border: 1px solid gray;
    /* display: flex; */
    flex-direction: column;
    padding: 10px;

}
li{
    list-style-type: none;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border: 1px solid black;    
}
ul{
    display: flex;
    flex-direction: column;
    /* gap: 1px; */
}

