.cabecalho{
    /* background-color: rgb(47, 47, 47); */
        background-color: #121312;
    display: flex;
    justify-content: space-around;
    padding: 20px;
    color: beige;

}

.hyperlinks{
    text-decoration: none;
    background-color: #121312;
    /* background-color: rgb(47, 47, 47); */
    /* color: #a67d43; */
    color: #ffdb89;
    /* color: #ad0013; */
    transition: 1s;

}
.hyperlinks:hover{
    font-size: large;
}

.bar{
    display:none
}
.sidebar{
    display:flex;
    flex-direction: column;
    position: absolute;
    height: 100%;
    width: 40%;
    top: 0px;
    right: 0px;
    background-color: #121312;
    padding: 10px;
    border-radius: 5px;
    gap: 10px;
    opacity: 0.9;
}

@media (max-width: 768px){
    .cabecalho{
        flex-direction: column;
        align-items: center;
        gap: 10px;
    }

    .bar{
        display:block;
        position: absolute;
        top: 15px;
        right: 20px;
        font-size: 25px;
        cursor: pointer;
        color: #ffdb89;
    }

}