 * {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}
.cookie{
    width: 450px;
    height: 450px;
    background-color: rgb(255, 255, 255); 
    border-radius: 50%; 
    background-image:url(./imagens/sobremesa-com-lascas-de-chocolate-plana-lay_23-2149644641.avif); 
    background-size:cover;
    background-position: center;
    transition: 0.1s;
}

.cookie:hover{
    width: 465px;
    height: 465px;
    transition: 0.2s;
    cursor:pointer;
}

.cookie:active{
    width: 450px;
    height: 450px;
}

.cursores {
    width: 100px;
    height: 100px;
    background-color: aqua;
    background-image: url(./imagens/1000_F_596479011_4LAtyY6dW8fpFiizJop8EjKBOYO4Qqiv.jpg);
    background-position: center;
    background-size: cover;
}

.vovoses2{
    width: 100px;
    height: 100px;
    /* background-color: rgb(34, 0, 255); */
    background-image: url(./imagens/Coragem_no_colo_de_Muriel.webp);
    background-position: center;
    background-size:contain;
    background-repeat: no-repeat;
}

.fazendas{
    width: 100px;
    height: 100px;
    /* background-color: rgb(34, 0, 255); */
    background-image: url(./imagens/hayday-99.png.webp);
    background-position: center;
    background-size:contain;
    background-repeat: no-repeat;
}

.lugarcookie{
    background-color: rgb(78, 13, 189);
    padding:20px;
    text-align: center;
    width: 25%;
    border: 3px solid black ;
    
    & .icon-cookie{
        display: flex;
        justify-content: center;
        position: relative;
        top: 150px;

    }

    & #contador{
        margin-top: 50px;
        font-size: xx-large;
    }

     & span{
        font-size: small;
    } 
}

.container{
    display: flex;
    justify-content: space-between;
}

.lugar_comprados{
    background-color: rgb(225, 209, 146);
    width: 50%;
    display: flex;
    flex-direction: column;
    height: 100vh;
    border: 3px solid black ;
    
    & .container-infos{
        background-color: rgb(86, 86, 86);
        height: auto;
        display: none;
        padding: 4px;
        color: white;
        flex-direction: column;
        gap: 20px;

        & .cabecalio{
            display:flex;
            justify-content: space-between;
            
            & button{
                width: 30px;
                height: 30px;
                border-radius: 50px;
                border: 1px black solid;
                box-shadow: -1px 1px 3px white;
            }

            & .title{
                width: 100%;
                text-align: center;
            }
        }
        & .estatisticas{
            margin-bottom:50px;
        } 
        & #bag-upgrade{
            display:flex;
            gap: 5px;
        }

    }
        
    & .container-comprados{
        background-color: aqua;
        padding: 4px;
        display: flex;
        flex-direction: column;
        gap: 4px;

            & #cursorcontainer{
                display: flex;
            }
            
            & #vovocontainer{
                display: flex;
            }
            & #fazendacontainer{
                display: flex;
            }
    }
}
    & .botoes-infos{
        padding: 7px;
        height: 200px;

        & .estatisticas{
            display: flex;
            background-color: rgb(150, 11, 6);
            height: 60px;
            align-items: center;
            user-select: none;
            font-size: x-large;
            color: white;
            text-shadow: 1px 1px 7px white;

        }
    }

.lugartobuy{
    height: 100vh;
    width: 25%;
    border: 3px solid black ;
    
    & .construções{
        display:flex;
        flex-direction: column;
        justify-content: center;
        width: 100%;

        & button{
            display: flex;
            background-color: aqua;
            padding:25px;
            width: 100%;
            align-items: center;
            font-size: x-large;
            justify-content:space-between ;
        }

        & .containerbutton{
            display: flex;
            align-items: center;

            & .nome-e-preco{
                text-align: left;
                
            }

            & span{
                font-size: small
            }
        }
    }

    & .upgrades{
        
        height: auto;
        background-color: green;
        padding: 20px;
        width: auto;
        min-height: 50px;
        

        & button{
            width: 75px;
            height: 75px;

            & img{
                width: 75px;
                height: 75px
            }
        } & button:hover{
            cursor: pointer;
            
        }

    } 
    & .infoupgrade{
        position:absolute;
        top: 20px;
        border: 1px black   solid;
        right:  559px;
        height: 150px;
        width: 500px;
        padding: 20px;
        display: none;
        background-color: white;
        pointer-events: none;
        user-select: none;

        & .headerupgrade{
            display: flex;
            justify-content: space-between;

            & img{
                width: 75px;
                height: 75px;
                background-position: center;
                
            }
            & .container-header-upgrade{
                display: flex;
            }
        }
    } 
        
}

.texto-ganho{
    color: rgb(255, 255, 255);
    position: absolute;
    animation: floatUp 1.5s ease-out forwards;
    font-size: xx-large;
    pointer-events: none;
    user-select: none;
    text-shadow: 1px 1px 1px black;

}
@keyframes floatUp{

    0% {
        opacity:1;
        transform: translateY(0);
    }

    100%{
        opacity: 0;
        transform: translateY(-100px);

    }
}



.default-upgrade{
            background-color: rgb(255, 255, 255);
            height: 70px;
            width: 70px;
    
            & img{
                height: 70px;
                width: 70px;
            }
}

.texto-perda{
    color: black;
    text-shadow: 1px 1px 3px rgb(255, 255, 255);
    position: absolute;
    font-size: xx-large;
    animation: floatDown 1.5s ease-out forwards;
    pointer-events: none;
    user-select: none;
}
@keyframes floatDown{

    0%{
        opacity: 1;
        transform: translateY(0px);
    }
    100%{
        opacity: 0;
        transform: translateY(100px);
    }
}