* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}
.cookie{
    width: 450px;
    height: 450px;
    background-color: brown;
    border-radius: 50%; 
    background-image:url(./imagens/sobremesa-com-lascas-de-chocolate-plana-lay_23-2149644641.avif);
    background-size:cover;
    background-position: center;
    transition: 0.1s;
}

.cookie:hover{
    width: 465px;
    height: 465px;
    transition: 0.2s;
    cursor:pointer;
}

.cookie:active{
    width: 450px;
    height: 450px;
}

.cursores {
    width: 100px;
    height: 100px;
    background-color: aqua;
    background-image: url(./imagens/1000_F_596479011_4LAtyY6dW8fpFiizJop8EjKBOYO4Qqiv.jpg);
    background-position: center;
    background-size: cover;
}

.vovoses2{
    width: 100px;
    height: 100px;
    /* background-color: rgb(34, 0, 255); */
    background-image: url(./imagens/images.jpeg);
    background-position: center;
    background-size:contain;
    background-repeat: no-repeat;
}

.lugarcookie{
    background-color: rgb(20, 100, 220);
    padding:20px;
    text-align: center;
    width: 25%;
    
    & .icon-cookie{
        height: 100vh;
        display: flex;
        justify-content: center;
        position: relative;
        top: 150px;

    }

    & #contador{
        margin-top: 50px;
        font-size: xx-large;
    }

     & span{
        font-size: small;
    } 
}

.container{
    display: flex;
    justify-content: space-between;
}

.lugar_comprados{
    background-color: cornsilk;
    width: 50%;
    display: flex;
    flex-direction: column;

    & #cursorcontainer{
    display: flex;
    }
    
    & #vovocontainer{
        display: flex;
        
    }

    & #cursorcontainer{
    display: flex;
}
}

.lugartobuy{
    height: 100vh;
    width: 25%;
    
    & .construções{
        display:flex;
        flex-direction: column;
        justify-content: center;
        width: 100%;

        & button{
            display: flex;
            background-color: aqua;
            padding:25px;
            width: 100%;
            align-items: center;
            font-size: x-large;
            justify-content:space-between ;
        }

        & .containerbutton{
            display: flex;
            align-items: center;

            & .nome-e-preco{
                text-align: left;
                
            }

            & span{
                font-size: small
            }
        }
    }

    & .upgrades{
        
        height: auto;
        background-color: green;
        padding: 20px;
        width: auto;
        min-height: 50px;
        

        & button{
            width: 75px;
            height: 75px;

            & img{
                width: 75px;
                height: 75px
            }
        } & button:hover{
            cursor: pointer;
            
        }

    } 
    & .infoupgrade{
        position: absolute;
        top: 20px;
        border: 1px black   solid;
        right:  555px;
        height: 150px;
        width: 500px;
        padding: 20px;
        display: none;
        background-color: white;

        & .headerupgrade{
            display: flex;
            justify-content: space-between;

            & img{
                width: 75px;
                height: 75px
            }
            & .container-header-upgrade{
                display: flex;
            }
        }
    } 
        
}



