@import url('https://fonts.googleapis.com/css2?family=VT323&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}
body{
    color: green;
    background-color: black;
    font-family:  "VT323", monospace;
    font-weight: 400;
    font-size: large;
    padding-left:3px ;
}

input{
    font-family:  "VT323", monospace;
    font-weight: 400;
    font-size: large;
    border: none;
    background-color: black;
    color: #FFA500;
    outline:none;
    width: 90%;
    text-decoration:none ;
    margin-bottom: 100px;
}

span{
    font-family:  "VT323", monospace;
    font-weight: 400;
    font-size: large;
    color:red
}

span2{
    /* color:rgb(84, 142, 244)
     */
     color: #0011ff;
}
.defaults{
    font-family:  "VT323", monospace;
    font-weight: 400;
    font-size: large;
    color:red  
}

.chat{
    border: 3px solid green;
    /* background-color: #FFA500; */
    height: 650px;
    width: 1300px;
    margin-left: 10px;

    p{
        margin-left: 2px;
        font-size: x-large;
        
    }
    .chat-principal{
        height: 80%;
        border-bottom:3px solid green;
        overflow: auto;
    }

    .teclado{
        display: flex;
        align-items: center;
        justify-content: center;
        height:15%;
        overflow: auto;
        margin-left: 20px;
        
        
        textarea{
            background-color: #000000;
            width: 95%; 
            /* height: 100%; */
            font-size: xx-large;
            font-family:  "VT323", monospace;
            font-weight: 400;
            color: #FFA500;
            outline: none;
            border: none;
            resize: none;
        }
    }
}

.alternativas{
    border: 3px solid green;
    height: 650px;
    width: 250px;
    border-left: none;
    overflow:auto;
    scrollbar-color: green;
}
.container{
    display: flex;
}
.botoes{
    display: flex;
    flex-direction: column;
    gap: 10px;

    button{
        border: 3px solid green;
        border-left: none;
        border-right: none;
        padding: 40px;
        background-color: rgb(0, 0, 0);
        text-align: left;
        color: green;
        background-color: black;
        font-family:  "VT323", monospace;
        font-weight: 400;
        font-size: x-large;
    }
    
    button:hover{
        background-color:rgb(2, 41, 2);
    }
    button:active{
        background-color:rgb(1, 25, 1);
    }
    
}

::-webkit-scrollbar{
   background-color: rgb(0, 0, 0);
   width: 4px;
}

::-webkit-scrollbar-thumb{
    background-color: green;
}

.console{
    height: 400px;
    width: 400px;
    border: 3px solid green;
    position:absolute;
    background-color: #000000;
    display: none;
    overflow:auto;


}

/* span3{
    display: inline-block;
    color: rgb(255, 0, 0);
    /* animation: carlos 1.5s ease-out infinite alternate; 
}*/


@keyframes carlos {
    0%{ transform: translateY(1px);}

    100%{ transform: translateY(-1px);}
    
}
.wave span{
    display: inline-block;
    animation: wave-bounce 0.9s ease-in-out infinite alternate;
    animation-delay: calc(var(--i) * 0.1s);
}

@keyframes wave-bounce {
    from{
        transform: translateY(0px);
    }    
    to{
        transform: translateY(-3px);
    }
}