* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
    overflow: hidden;
}

.botao{
    width: 45px;
    height: 45px;
    border-radius: 100px;
    border: 2px solid black;
    background-color: red;
    transition: 0.3s;
}

.botao:hover{
    transition: 0.3s;
    background-color: aquamarine;
    cursor: pointer;
   width: 50px;
   height: 50px;
}

.botao:active{
    transition: 0.05s;
    width: 45px;
    height: 45px;
    background-color: red;
}

.container{
    /* background-color: black; */
    height: 100vh;
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: center;

}

.mensagem{
    position:absolute;
    left: 1000px;
    /* background-color: yellow; */
    width: auto;
    max-width: 600px;
}
.title{
    position: absolute;
    top: 0px;
}

.area{
    position:absolute;
    top: 20%;
    width: 45%;
    height: 200px;
    width: 100px;
    background-color: rgb(255, 255, 255);
    display:flex;
    justify-content: center;
    align-items: center;

}

.title span{
    cursor:pointer;
}

.danger{
    position: absolute;
    right: 200px;
    height: 100vh;
    width: 100px;
    background-color: black;
}


