.container{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    /* color: aqua; */
    margin-top: 100px;
}
.title{
    color: var(--text-color);
    font-size: 5rem;
    margin-bottom: 100px;
}

.colunas{
    column-count: 2;
    column-gap: 5rem;

}