* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}
.container{
    background-color: rgb(33, 33, 33);
    gap: 10px;
    /* border: 1px solid black; */
    padding: 20px;
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    max-width: 400px;
    justify-content: center;
    align-items: center;
}
.tela{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(69, 69, 69);
    height: 100vh;
    width: 100vw;
}

.inputs{
    border-radius: 8px;
    padding: 8px;
    outline: none;
    border: none;
    background-color: aliceblue;
}

.button{
    border-radius:8px ;
    padding: 8px;
    width: 200px;
    font-size: large;
    outline: none;
    border: none;
    background-color: rgb(69, 69, 69);
    color: white;
}